@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;700&display=swap');

body {
  @apply font-sans bg-zinc-950 text-white antialiased;
}

@layer base {
  body {
    @apply bg-zinc-950 text-white;
  }
  
  ::selection {
    @apply bg-purple-500 text-white;
  }
}

@layer components {
  .prose code:not(pre code) {
    @apply bg-zinc-800 px-1 py-0.5 rounded text-sm font-mono;
  }
  
  .prose a {
    @apply text-purple-400 hover:text-purple-300 transition no-underline;
  }
  
  .prose blockquote {
    @apply border-l-4 border-purple-400 pl-4 italic;
  }
}

/* Basic Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.fixed-header {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000;
  perspective: 1000;
  will-change: transform;
}

.fixed-header::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.01);
  pointer-events: none;
  z-index: -1;
}
